body {
  color: $darkest-color;
}

.background-dark {
  background-color: $darkest-color;
}

.background-light {
  background-color: $lightest-color;
}

.background-medium {
  background-color: $neutral-20;
}

.text-dark {
  color: $darkest-color;
}

.text-light {
  color: $lightest-color;
}

.text-medium {
  color: $neutral-60;
}

// primary
.background-primary {
  background-color: $primary;
}

.background-primary-dark {
  background-color: $primary-dark;
}

.background-primary-light {
  background-color: $primary-light;
}

.text-primary {
  color: $primary-text;
}

.text-primary-dark {
  color: $primary-dark-text;
}

.text-primary-light {
  color: $primary-light-text;
}

// secondary
.background-secondary {
  background-color: $secondary;
}

.background-secondary-dark {
  background-color: $secondary-dark;
}

.background-secondary-light {
  background-color: $secondary-light;
}

.text-secondary {
  color: $secondary-text;
}

.text-secondary-dark {
  color: $secondary-dark-text;
}

.text-secondary-light {
  color: $secondary-light-text;
}

// info
.background-info {
  background-color: $info;
}

.background-info-dark {
  background-color: $info-dark;
}

.background-info-light {
  background-color: $info-light;
}

.text-info {
  color: $info-text;
}

.text-info-dark {
  color: $info-dark-text;
}

.text-info-light {
  color: $info-light-text;
}

// success
.background-success {
  background-color: $success;
}

.background-success-dark {
  background-color: $success-dark;
}

.background-success-light {
  background-color: $success-light;
}

.text-success {
  color: $success-text;
}

.text-success-dark {
  color: $success-dark-text;
}

.text-success-light {
  color: $success-light-text;
}

// warning
.background-warning {
  background-color: $warning;
}

.background-warning-dark {
  background-color: $warning-dark;
}

.background-warning-light {
  background-color: $warning-light;
}

.text-warning {
  color: $warning-text;
}

.text-warning-dark {
  color: $warning-dark-text;
}

.text-warning-light {
  color: $warning-light-text;
}

// danger
.background-danger {
  background-color: $danger;
}

.background-danger-dark {
  background-color: $danger-dark;
}

.background-danger-light {
  background-color: $danger-light;
}

.text-danger {
  color: $danger-text;
}

.text-danger-dark {
  color: $danger-dark-text;
}

.text-danger-light {
  color: $danger-light-text;
}
