@for $i from 0 through 5 {
  .pad-#{$i} {
    padding: $spacing * $i;
  }

  .pad-x-#{$i} {
    padding-left: $spacing * $i;
    padding-right: $spacing * $i;
  }

  .pad-y-#{$i} {
    padding-top: $spacing * $i;
    padding-bottom: $spacing * $i;
  }

  .pad-top-#{$i} {
    padding-top: $spacing * $i;
  }

  .pad-bottom-#{$i} {
    padding-bottom: $spacing * $i;
  }

  .pad-left-#{$i} {
    padding-left: $spacing * $i;
  }

  .pad-right-#{$i} {
    padding-right: $spacing * $i;
  }

  .margin-#{$i} {
    margin: $spacing * $i;
  }

  .margin-y-#{$i} {
    margin-top: $spacing * $i;
    margin-bottom: $spacing * $i;
  }

  .margin-top-#{$i} {
    margin-top: $spacing * $i;
  }

  .margin-bottom-#{$i} {
    margin-bottom: $spacing * $i;
  }

  .margin-x-#{$i} {
    margin-left: $spacing * $i;
    margin-right: $spacing * $i;
  }

  .margin-left-#{$i} {
    margin-left: $spacing * $i;
  }

  .margin-right-#{$i} {
    margin-right: $spacing * $i;
  }

  .spacer-#{$i} {
    width: $spacing * $i;
    height: 100%;
  }
}
