$tablet-break-point: 640px;
$desktop-break-point: 960px;

// fonts
$serif-defaults: "Georgia", "Palatino Linotype", Palatino, "Book Antiqua", serif;
$sans-defaults: "Trebuchet MS", Trebuchet, Tahoma, Geneva, sans-serif;

$custom-headline-font: 'Roboto Slab';
$custom-body-font: 'KoHo';

$headline-font:   $custom-headline-font, $serif-defaults;
$body-font:       $custom-body-font, $sans-defaults;
$button-font:     $sans-defaults;

$body-font-size: 18px;
$line-height: 1.4;
$normal-weight: 300;
$bold-weight: 600;

// padding and margins
$spacing: round($body-font-size * 2 / 3);

// colors
//
// pallete
$white:     #FFFFFF;
$ice-blue:  #ddfcf7;
$blueblack: #000D47;
$blackish:  #111829;

$blue-gray: #678FC2;
$teal:      #39A0A8;
$leaf:      #3da344;
$red:       #C66643;
$gold:      #FF9F1C;

// semantic

$lightest-color: $white;
$darkest-color:  $blackish;

$neutral-05: mix($lightest-color, $darkest-color, 95%);
$neutral-10: mix($lightest-color, $darkest-color, 90%);
$neutral-20: mix($lightest-color, $darkest-color, 80%);
$neutral-30: mix($lightest-color, $darkest-color, 70%);
$neutral-40: mix($lightest-color, $darkest-color, 60%);
$neutral-50: mix($lightest-color, $darkest-color, 50%);
$neutral-60: mix($lightest-color, $darkest-color, 40%);
$neutral-70: mix($lightest-color, $darkest-color, 30%);
$neutral-80: mix($lightest-color, $darkest-color, 20%);
$neutral-90: mix($lightest-color, $darkest-color, 10%);
$neutral-95: mix($lightest-color, $darkest-color, 5%);

$primary: $blue-gray;
$secondary: $neutral-50;
$danger: $red;
$warning: $gold;
$info: $teal;
$success: $leaf;

$background-color: $lightest-color;
$header-color: $ice-blue;
$footer-color: $ice-blue;

$color-list:
  ("danger", $danger);
